<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <h1>We''l be back soon</h1>
    <p>The site is under mantainance.</p>
  </body>
</html>
